vscode/*
go.sum
cmd/main/testlogfile
cmd/main/main
cmd/auth/auth
cmd/recommends/recommends
cmd/notifications/notifications
cmd/chat/chat
cmd/chat/testlogfile
cover.out
cover.tmp
pkg/cover.out
pkg/cover.tmp
db/rk3.sql
